<div id="wrapper" style="width:200px;height:550px; border-right:1px solid; float:left;">
	<div id="sidebar-wrapper" class="col-md-10">
           <div id="sidebar">
               <ul class="nav list-group">
                   <li>
                       <a class="" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 1</a>
                   </li>
                   <li>
                       <a class="" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 2</a>
                   </li>
                   <li>
                       <a class="" href="#"><i class="icon-home icon-1x"></i>Sidebar Item 3</a>
                   </li>
                   <li>
                       <a routerLink="/estimation">Estimation Bill</a>
                   </li>
                   <li>
                   		<a routerLink="/pricesheet">Price Sheet</a>
                   </li>
               </ul>
           </div>
     </div>
</div>